/* All tag */
* {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
header {
    position: relative;
    height: 80px;
    background: #000;
}

header:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    content: '';
    background: #d6d6d6;
}

header > .container {
    position: relative;
    z-index: 1;
    width: 1200px;
    margin: 0 auto;
}

header > .container > a {
    display: block;
    float: left;
    margin: 5px 25px;
}

header > .container > nav {
    float: right;
}

/* nav */
nav > a {
    font-size: 24px;
    line-height: 73px;
    display: block;
    float: left;
    width: 110px;
    height: 73px;
    text-align: center;
    color: #fff;
}

nav > a:nth-child(1) {
    background: #433b90;
}

nav > a:nth-child(2) {
    background: #017fcb;
}

nav > a:nth-child(3) {
    background: #78b917;
}

nav > a:nth-child(4) {
    background: #feb800;
}

nav > a:nth-child(5) {
    background: #f27c01;
}

nav > a:nth-child(6) {
    background: #d40112;
}

nav > a:hover, nav > a.active {
    padding-bottom: 7px;
}

/* banner */
.banner {
    position: relative;
    background: #eaeaea;
}

.banner:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    background: #d6d6d6;
}

.banner > ul {
    position: relative;
    width: 1490px;
    height: 538px;
    margin: 0 auto;
    padding-top: 10px;
}

.banner > ul > li {
    position: absolute;
    width: 610px;
    height: 300px;
    overflow: hidden;
}

.banner > ul > li.active {
    z-index: 2;
    top: 37px;
    right: 0;
    left: 0;
    width: 960px;
    height: 460px;
    margin: auto;
    border: 1px solid #fff;
    box-shadow: 0 30px 140px 22px rgba(0, 0, 0, .35);
}

.banner > ul > li.left {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .35);
}

.banner > ul > li.right {
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .35);
}

.banner > ul > li > img {
    position: absolute;
    left: -30%;
    height: 100%;
}

/* main */
.main {
    position: relative;
    width: 1200px;
    height: 473px;
    margin: 34px auto 0;
}

.main h1 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 23px;
}

.main h1 > samp {
    font-size: 30px;
    color: #7c7c7c;
}

.main > aside {
    float: left;
    width: 450px;
}

.main > aside > dl {
    position: relative;
    display: block;
    height: 74px;
    margin-bottom: 17px;
}

.main > aside > dl > dt {
    position: absolute;
    top: -1px;
    left: 92px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: underline;
}

.main > aside > dl > dd:first-of-type {
    position: absolute;
    left: 0;
}

.main > aside > dl > dd:last-of-type {
    position: absolute;
    top: 20px;
    left: 90px;
}

.main > article {
    float: right;
    width: 720px;
    overflow: hidden;
}

.main > article > p,
.main > article > img {
    margin-bottom: 20px;
}

/* footer */
footer {
    position: relative;
    background: #000;
}

footer:before {
    position: absolute;
    z-index: -1;
    top: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    background: #d6d6d6;
}

footer > .container {
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

footer > .container > p {
    line-height: 64px;
    float: left;
    color: #fff;
}

footer > .container > span {
    float: right;
    margin: 14px 40px;
}

footer > .container > span > img {
    margin-left: 4px;
    opacity: 0.7;
}

footer > .container > span > img:hover {
    opacity: 1;
    cursor: pointer;
}
