/*公共样式*/

.container {
    /*站点导航*/
    width: 1200px;
    margin: 0 auto;
}

a.link {
    /*链接正常颜色*/
    color: #4d555d;
}

a.link:hover {
    /*链接经过颜色*/
    color: #f01414 !important;
}

.transition {
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.text-hidden {
    text-indent: -9999px;
    overflow: hidden;
}


.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*icon*/
@font-face {
    font-family: "iconfont";
    src: url('../test/font/iconfont.eot?t=1477124206');
    /* IE9*/
    src: url('../test/font/iconfont.eot?t=1477124206#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../test/font/iconfont.woff?t=1477124206') format('woff'), /* chrome, firefox */
    url('../test/font/iconfont.ttf?t=1477124206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../test/font/iconfont.svg?t=1477124206#iconfont') format('svg');/* iOS 4.1- */
}

.icon {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*showhide*/

.fadeOut {
    visibility: hidden !important;
    opacity: 0 !important;
}

.slideUpDownCollapse {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.slideLeftRightCollapse {
    width: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*dropdown*/
.dropdown {
    position: relative;
}

.dropdown-toggle {
    position: relative;
    z-index: 2;
}

.dropdown-arrow {
    display: inline-block;
    line-height: 1;
    /*background-repeat: no-repeat;*/
    vertical-align: middle;

}


.dropdown-layer {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-left {
    left: 0;
    right: auto;
}

.dropdown-right {
    right: 0;
    left: auto;
}

.dropdown-loading {
    width: 32px;
    height: 32px;
    background: url(../img/loading.gif) no-repeat;
    margin: 20px;
}

.menu-active .dropdown-arrow {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*.menu .dropdown*/
.menu {
    z-index: 3;
}

.menu .dropdown-toggle {
    display: block;
    height: 100%;
    padding: 0 13px 0 12px;
    border-left: 1px solid #f3f5f7;
    border-right: 1px solid #f3f5f7;
}

.menu .dropdown-arrow {
    /*width: 8px;
    height: 6px;
    background-image: url(../img/dropdown-arrow.png);*/
    margin-left: 5px;
}

.menu .dropdown-layer {
    top: 43px;
    background-color: #fff;
    border: 1px solid #cdd0d4;
}

.menu-item {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    color: #4d555d;
    white-space: nowrap;
}

.menu-item:hover {
    background-color: #f3f5f7;
}

.menu-active .dropdown-toggle {
    background-color: #fff;
    border-color: #cdd0d4;
}

.menu-active .dropdown-arrow {
    /*background-image: url(../img/dropdown-arrow-active.png);*/
}

/*.menu-active .dropdown-layer {
    display: block;
}*/

/*btn*/
.btn {
    display: inline-block;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/*search*/
.search {
    position: relative;
    border: 1px solid #cfd2d5;
}

.search-inputbox {
    width: 585px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: none;
}

.search-btn {
    width: 73px;
    height: 40px;
    line-height: 40px;
    background-color: #07111b;
    font-size: 14px;

}

.search-layer {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #cfd2d5;
    z-index: 3;
}

.search-layer-item {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;

}

.search-layer-item:hover {
    background-color: #f3f5f7;
}


/*category*/

.category {
    position: relative;
    width: 208px;
    margin-top: -62px;
    font-size: 14px;
}

.category .dropdown {
    position: static;
}

.category-title {
    display: block;
    height: 54px;
    line-height: 54px;
    padding: 0 20px;
    background-color: #c81414;
    color: #fff;
}

.category-title .icon {
    margin-right: 10px;
    font-size: 16px;
}

.category-list {
    height: 512px;
    background-color: #f01414;
}

.category .dropdown-toggle {
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    color: #fff;
}

.category .dropdown-link {
    color: #fff;
}

.category .dropdown-arrow {
    position: absolute;
    top: 12px;
    right: 12px;
    font-family: simsun;
    font-weight: bold;
}

.category-active .dropdown-toggle {
    background-color: #fff;
}

.category-active .dropdown-toggle,
.category-active .dropdown-link {
    color: #f01414;
}

.category .dropdown-layer {
    top: 54px;
    left: 100%;
    width: 744px;
    min-height: 473px;
    padding: 8px 0 31px 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.category-details {
    width: 744px;
    margin-top: 24px;
    line-height: 20px;
}

.category-details-title {
    width: 84px;
    padding-right: 16px;
    border-right: 1px solid #d9dde1;
    text-align: right;

}

.category-details-title-link {
    color: #07111b;
    font-weight: bold;
}

.category-details-item {
    width: 592px;
    padding-left: 15px;
}

.category-details-item .link {
    display: inline-block;
    margin-right: 16px;
}

.category .dropdown-loading {
    margin: 220px auto 0;
}

/*slider*/
.slider {

    position: relative;
    overflow: hidden;
    width: 728px;
    height: 504px;
}

.slider-indicator-wrap {
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -36px;
}

.slider-indicator {
    width: 8px;
    height: 8px;
    background-color: #313a43;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.slider-indicator-active {
    position: relative;
    top: -2px;
    background-color: #f7f8f9;
    border: 2px solid #858b92;
}

.slider-control {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #fff;
    font-size: 22px;
    font-family: simsun;
    text-align: center;
}

.slider-control-left {
    left: 0;
}

.slider-control-right {
    right: 0;
}

.slider-fade .slider-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-slide .slider-item {
    position: absolute;
    top: 0;

    left: 100%;
    width: 100%;
    height: 100%;
}

/*.slider-slide .slider-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 1000%;
        height: 100%;
        background-color: red;
    }
    .slider-slide .slider-item {
        float: left;
    }*/